.wrapper{
  min-height: 40vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
}

.main-footer{
  width: 100%;
  background-color: lightgrey;
  color: #fff;
  text-align: center;
  padding: 30px 0;

position: absolute;
  bottom: 0;
}