<%= render "shared/header" %>

<h2>会社情報一覧</h2>

<div class="box">
  <div class="box2">
    <% @companies.each do |company| %>
      <% if user_signed_in? && current_user.id == company.user.id %>
        <%= link_to company_path(company.id) do%>
          <p><%= company.name %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


<%= render "shared/footer" %>