.main-header {
  height: 10vh;
  width: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size:40px;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #FFF;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user-name {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.user-name:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

.logout {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  margin-left: 5px;
}

.logout:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

.post {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  margin-left: 5px;
}

.post:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}